/* Custom CSS properties */
:root {
    --color-button-bg: #f8f9fa;
    --color-button-bg-advanced: #628cf8;
    --color-button-fg: #3d4043;
    --color-button-fg-advanced: #ffffff;
    --color-button-border-advanced: #4f79ee;

    --color-button-border-hover: #dadce0;
    --color-button-border-active: #5c85f5;

    --color-button-bg-hover-advanced: #618bfa;
    --color-button-border-hover-advanced: #415bb8;

    --color-icon-fill: #474747;
    --color-search-border: #dadce0;

    --color-font-link: #212121;
    --color-font-h1: #d93025;

    --color-body-bg: #ffffff;
    --color-header-bg: #ffffff;
    --color-footer-bg: #f2f2f2;
    --color-footer-border: #dbdce0;

    --color-image-text: #4285f4;

}

/* Basic resets */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app-container {
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    place-items: center;
    height: 100%;
}

header {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1.5rem 1.5rem 0 0;

    width: 100%;
}

header a {
    text-decoration: none;
    color: var(--color-font-link);
}

header a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.title.title--image-search {
    position: relative;
}

.title svg {
    width: calc(200px * 1.5);
    height: calc(50px * 1.5);
}

.title.title--image-search::before {
    position: absolute;
    content: "images";
    z-index: 10;
    top: -2px;
    right: 56px;
    color: var(--color-image-text);
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.search-input {
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid var(--color-search-border);
    width: 700px;
    border-radius: 24px;
    height: 34px;
    padding: 1.5rem 2.5rem;

    box-shadow: 0 3px 10px 1px rgba(0.2, 0.2, 0.2, 0.1);
}

.search-input:hover,
.search-input:focus {
    outline: none;
    box-shadow: 0 3px 10px 1px rgba(0.2, 0.2, 0.2, 0.25);
}

.search-container {
    position: relative;
}

.search-container::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    background-image: url(./magnifying_glass.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

input[type=submit] {
    outline: none;
    background-color: var(--color-button-bg);
    border: 1px solid var(--color-button-bg);
    border-radius: 6px;
    width: fit-content;
    align-self: center;

    padding: .5rem .75rem;
}

input[type=submit]:hover {
    border: 1px solid var(--color-button-border-hover);
    box-shadow: 0 1px 0 0 var(--color-button-border-hover);
    cursor: pointer;
}

input[type=submit]:active,
input[type=submit]:focus {
    border: 1px solid var(--color-button-border-active);
}

footer {
    background-color: var(--color-footer-bg);
    width: 100%;
    height: 100%;

    text-align: center;
    padding: 1rem;

    border-top: 1px solid var(--color-footer-border);
}

/* Advanced Search */

.advanced-search-header {
    display: block;
    border-bottom: 1px solid var(--color-search-border);
}

.advanced-search-header .navbar {
    display: flex;
    justify-content: space-between;
}

.logo-link svg {
    width: 55%;
    height: 55%;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: var(--color-font-h1);
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 2.5rem;
}

h2 {
    font-size: 1rem;
    font-weight: 500
}

.advanced-search-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: unset;
    padding: 2.5rem;
    height: 100%;
}

.advanced-search-form {
    margin-top: 1rem;
    gap: 1rem;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-size: 0.8125rem;

    width: 90%;
}

input[type=text] {
    width: 100%;
    height: 30px;
}

.advanced-search-form label {
    align-self: center;
}

.advanced-search-form input[type=submit] {
    background-color: var(--color-button-bg-advanced);
    color: var(--color-button-fg-advanced);
    border: 1px solid var(--color-button-border-advanced);
    border-radius: 2px;
    font-weight: 600;
    box-shadow: none;
    justify-self: end;
    margin-top: .5rem;
}

.advanced-search-form input[type=submit]:hover {
    background-color: var(--color-button-bg-hover-advanced);
    border-color: var(--color-button-border-hover-advanced);
}

h3 {
    font-size: .8rem;
}

.form-explainer {
    display: flex;
    flex-direction: column;
}

.form-explainer p {
    font-size: 0.75rem;
}